.splashIntro, body, html {
  position: relative;
  height: 100%; }

header {
  background-color: black;
  padding: 1.5em; }

@media screen and (min-width: 992px) {
  .br-span span {
    display: block; } }

.splashIntro {
  background: url("/images/bg.jpg") black no-repeat;
  background-size: contain;
  color: white; }
  .splashIntro img {
    width: 50%;
    border-radius: 10px;
    -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.9);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.9); }

.resume-sec {
  background-color: #EEEEEE; }
  .resume-sec section {
    padding: 10px; }
  .resume-sec #resume-nav {
    margin-bottom: 50px; }
  .resume-sec #resume-sec-1 {
    position: relative;
    overflow: visible; }
    .resume-sec #resume-sec-1 #contact-sec.fixedStart {
      position: absolute;
      top: 0; }
    .resume-sec #resume-sec-1 #contact-sec.fixedFlow {
      position: fixed;
      top: 97px;
      -webkit-transition: top 500ms ease;
      -moz-transition: top 500ms ease;
      -ms-transition: top 500ms ease;
      -o-transition: top 500ms ease;
      transition: top 500ms ease; }
    .resume-sec #resume-sec-1 #contact-sec.fixedEnd {
      position: absolute;
      top: auto;
      bottom: 50px; }
    .resume-sec #resume-sec-1 img {
      display: block;
      max-width: 200px;
      border-radius: 15px;
      margin-bottom: 15px; }
    .resume-sec #resume-sec-1 p {
      line-height: 1; }
      .resume-sec #resume-sec-1 p.social-icons {
        width: 200px; }
    .resume-sec #resume-sec-1 #SkypeButton_Call_rafaelhernandez-padilla img {
      margin: 0 !important; }
  .resume-sec #resume-sec-2 #skills-sec {
    margin-bottom: 30px; }
  .resume-sec #resume-sec-2 #recommendations-sec section.row {
    margin-bottom: 50px; }
  .resume-sec #resume-sec-2 #recommendations-sec .profile {
    color: #343a40; }
  .resume-sec #resume-sec-2 #recommendations-sec img {
    border-radius: 5px;
    opacity: 1;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease; }
    .resume-sec #resume-sec-2 #recommendations-sec img:hover {
      opacity: 0.7;
      -webkit-transition: all 500ms ease;
      -moz-transition: all 500ms ease;
      -ms-transition: all 500ms ease;
      -o-transition: all 500ms ease;
      transition: all 500ms ease; }
  .resume-sec #resume-sec-2 #experience-sec section.row {
    margin-bottom: 30px; }
  .resume-sec #footer-nav {
    height: 1000px; }
